.repo-sort-form {
  margin-bottom: 1em;
}

.repo-item {
  transition: all 150ms ease;
  user-select: none;

  &.ng-enter {
    animation: fadeIn 1000ms ease;
  }

  &.ng-enter-stagger {
    animation-delay: 75ms;
    animation-duration: 0;
  }

  &.ng-move {
    animation: fadeIn 1000ms ease;
  }

  &:hover {
    background-color: lighten(black, 10);
  }

  &:active {
    background-color: black;
  }
}

.repo-name {
  text-transform: uppercase;

  small {
    text-transform: none;
  }
}

.repo-metrics {
  float: right;
  margin-top: 1em;
}

.repo-metric {
  margin-right: 1em;
  color: #aaa;

  &:last-child {
    margin-right: 0;
  }
}