<form class="form-inline text-right repo-sort-form">
  <div class="form-group">
    <label for="sort">Sort By</label>
    <select class="form-control" ng-model="vm.sort" ng-options="opt.value as opt.label for opt in vm.sortOptions"></select>
  </div>
</form>

<div class="loader" ng-show="vm.isLoadingRepos"></div>

<ul class="list-group">
  <li class="list-group-item repo-item" ng-click="vm.openRepo(repo.name)" ng-repeat="repo in vm.repos | orderBy: vm.sort : true">
    <span class="repo-metrics">
      <span class="repo-metric">Stars: {{repo.stargazers_count | number}}</span>
      <span class="repo-metric">Forks: {{repo.forks_count | number}}</span>
    </span>
    <h3 class="repo-name">
      {{repo.name}} <br>
      <small>{{repo.description}}</small>
    </h3>
  </li>
</ul>